.help{
    border-radius: 40px;
    background: #217191;
    padding-block: 110px;
    margin-block: 100px;
}

.flex__group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.help__subTitle{
    display: block;
    width: max-content;
    padding-block: 10px;
    padding-inline: 15px;
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 145.4%; /* 20.356px */
    text-transform: uppercase;
    border-radius: 10px;
    background: rgba(13, 93, 125, 0.50);
    margin-block-end: 25px;
}
.help__title{
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.help__description{
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.9%; 
    max-width: 840px;
}

@media (max-width:1000px) {
    .flex__group{
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .flex__group div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .help__subTitle{
        margin-inline: auto;
    }
}