.machine{
    border-radius: 40px;
    background: #E7ECF6;
    padding-block: 100px;
    margin-block: 100px;
}

.flex__group{
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
}

.machine__info{
    max-width: 607px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info__title{
    color: var(--title, #131414);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    max-width: 469px;
}

.info__description{
    color: var(--title, #131414);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.9%; /* 30.042px */
}

.machine__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list__item{
    color: var(--title, #131414);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.9%; 
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.list__item::before{
    content: "";
    display: block;
    background-image: url("/icons/confirm.svg");
    background-color: #7588CD;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 770px) {
    .flex__group{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}