.testing{
    padding-block: 100px;
    margin-block: 100px;
    border-radius: 40px;
    background: hsl(197, 58%, 80%, .2);
}

.flex__group{
    display: flex;
    gap: clamp(30px, 5vw + 1rem, 200px);
    flex-wrap: wrap;
}

@media (max-width: 770px) {
    .flex__group{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}