.stack{
    margin-block: 100px;
}

.flex__group{
    display: flex;
    justify-content: space-between;
    align-items:end;
    flex-wrap: wrap;
    margin-block-end: 100px;
    gap: 30px;
}

.stack__subTitle{
    display: block;
    color: var(--title, #131414);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145.4%; /* 20.356px */
    text-transform: uppercase;
    margin-block-end: 20px;
}

.stack__title{
    color: var(--title, #131414);
    font-family: Montserrat;
    font-size: clamp(20px, 5vw + 1rem, 35px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.stack__title span{
    color: var(--dark-green, #217191);
}

.stack__description{
    color: var(--title, #131414);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.9%;
    max-width: 740px;
}


.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
    mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
    z-index: 10;
    margin-block-end: 30px;
  }
  
  .marquee__content {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 21px;
    min-width: 100%;
    animation: scroll-x 30s linear infinite;
    margin-inline-end: 20px; 
  }

  .revers__animation{
    animation: scroll-x 30s linear infinite reverse;
  }

  .marquee__item{
    padding-block: 35px;
    padding-inline: 51px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid var(--stroke, #DBDBDB);
  }
  
  @keyframes scroll-x {
    from {
      transform: translateX (0);
    }
    to {
      transform: translateX(calc(-100% - 21px));
    }
  }

  @media (max-width: 700px) {
    .flex__group{
      text-align: center;
    } 
    .flex__group div{
      margin-inline: auto;
    }
  }