
:root {
  --space: 150px;
	--size: 120;
	--coefficient: 1px;
	--timeline: 2.6s;
	--delay: 0.65s;
  --rotation-y: -24;
  --rotation-x: 28;
  --color-one: #3a0ca3;
  --color-two: #4361ee;
  --color-three: #4cc9f0;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
