.header{
    background: hsla(197, 47%, 24%, 1);
    padding-block: 31px;
}

.header__container{
    max-width: 1780px;
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
    gap: 45px;
}

.list__item{
    list-style: none;
}

.item__link{
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.714px;
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

.item__link:hover{
    color: var(--brown, #C7A48B);
}